.firts-card {

    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .text-first {
        width: 48%;
        padding-left: 25px;
        padding-right: 25px;

        h1 {
            font-size: 56px;
        }

        p {
            font-size: 24px;
        }
    }

    .image-first-card {
        object-fit: cover;
        width: 38%;
    }

}

.second-card {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .second-card-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 5%;

        .item-card {
            display: flex;
            flex-direction: column;

            .card-image {
                object-fit: cover;
                max-height: 300px;
                max-width: 600px;
            }

            .btn-card {
                background-color: #3FFA53;
                color: white;
                font-size: 26px;
                border: none;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    .btn-second-card {
        margin-top: 5%;
        border-radius: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 36px;
        padding-right: 36px;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

}

.three-card {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #3FFA53;
    justify-content: center;
    gap: 15%;
    max-height: 480px;

    .three-card-content {
        width: 35%;

        .text-card-three {
            font-size: 48px;
            color: white;
            padding: 16px;
            font-weight: bold;

        }

        .btn-three-card {
            margin-top: 16px;
            border-radius: 10px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            color: black;
            background-color: white;
            border: none;
            font-size: 16px;
            font-weight: bold;
            width: 100%;
        }

        .btn-three-card2 {
            margin-top: 16px;
            border-radius: 10px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            color: white;
            background-color: transparent;
            border-color: white;
            font-size: 16px;
            font-weight: bold;
            width: 100%;

        }
    }

    .three-card-image {
        object-fit: fill;
        width: 35%;
    }
}

.four-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .four-card-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
        gap: 15%;

        .four-card-file {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .btn-four-card {
        padding: 16px;
        border: none;
        color: white;
        background-color: #3FFA53;
        border-radius: 10px;
        font-size: 24px;
        padding-left: 46px;
        padding-right: 46px;
        font-weight: bold;
    }
}

.five-card {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;

    .form-five-card {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 5%;

        .input-form-basic {
            border: none;
            border-radius: 10px;
            margin: 2%;
            height: 45px;
            padding-left: 16px;
        }

    }
}

.six-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 600px;
}

.seven-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: green;
}

.btn-standar {
    padding: 16px;
    border: none;
    color: white;
    background-color: #3FFA53;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 46px;
    padding-right: 46px;
    font-weight: bold;
}